@model IEnumerable<IdentityText.Models.PrivateLesson>
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="col-sm-12 col-xl-6 col-xl-12">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">All Private Lesson</h6>
            <a href="/Admin/PrivateLesson/Create" class="btn btn-success w-100 m-2" type="button">
                <i class="fa fa-home"></i>
                Create
            </a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"> Title</th>
                        <th scope="col"> Price</th>
                        <th scope="col"> StartDate</th>
                        <th scope="col"> EndDate</th>
                        <th scope="col"> Subject</th>
                        <th scope="col"> Teacher</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) 
            {
                    <tr>
                        <th scope="row">@item.PrivateLessonId</th>
                        <td>@item.Title</td>
                        <td>@item.Price</td>
                        <td>@item.StartDate</td>
                        <td>@item.EndDate</td>
                        <td>@item.Subject.Title</td>
                        <td>@(item.Teacher != null ? item.Teacher.ApplicationUser.FirstName + " " + item.Teacher.ApplicationUser.LastName : "N/A")</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.PrivateLessonId" type="button" class="btn btn-warning rounded-pill m-2">Updata</a>
                           <button class="btn btn-primary rounded-pill m-2" onclick="confirmDelete(@item.PrivateLessonId)">Delete</button>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
    </div>

</div>
@section Scripts {
    @if (TempData["notification"] != null)
    {
        <script>
            toastr.success('@TempData["notification"]');
        </script>
    }

    <script>

          function confirmDelete(id){
              Swal.fire({
              title: "Are you sure?",
              text: "You won't be able to revert this!",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Yes, delete it!"
              }).then((result) => {
              if (result.isConfirmed)
              {
                  window.location.href = "/Admin/PrivateLesson/Delete?id=" + id;

                Swal.fire({
                  title: "Deleted!",
                  text: "Your file has been deleted.",
                  icon: "success"
                });
              }
            });
        }

    </script>


}

