@model IdentityText.Models.Student

@{
    ViewData["Title"] = "Details";
}

<div class="container bg-dark text-white">
    <div class="col-sm-12 col-xl-12 mt-5">
        <div class="bg-dark shadow rounded p-4">
            <h5 class="mb-4 text-light"><i class="bi bi-person-fill text-danger"></i> Student Details</h5>

            <h4 class="text-light">Student Information</h4>
            <hr class="border-light" />

            <dl class="row">
                <dt class="col-sm-2 text-light">
                    @Html.DisplayNameFor(model => model.UserId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserId)
                </dd>


                <dt class="col-sm-2 text-light">
                    @Html.DisplayNameFor(model => model.ParentName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ParentName)
                </dd>

                <dt class="col-sm-2 text-light">
                    @Html.DisplayNameFor(model => model.ParentPhone)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ParentPhone)
                </dd>

                <dt class="col-sm-2 text-light">
                    @Html.DisplayNameFor(model => model.ParentMail)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ParentMail)
                </dd>

                <dt class="col-sm-2 text-light">
                    @Html.DisplayNameFor(model => model.StudentDB)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StudentDB)
                </dd>

                <dt class="col-sm-2 text-light">
                    @Html.DisplayNameFor(model => model.EnrollmentDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EnrollmentDate)
                </dd>

                <dt class="col-sm-2 text-light">
                    @Html.DisplayNameFor(model => model.EmergencyContact)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EmergencyContact)
                </dd>

                <dt class="col-sm-2 text-light">
                    @Html.DisplayNameFor(model => model.AttendancePercent)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AttendancePercent)
                </dd>

                <dt class="col-sm-2 text-light">
                    @Html.DisplayNameFor(model => model.StudentNotes)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StudentNotes)
                </dd>

                <dt class="col-sm-2 text-light">
                    @Html.DisplayNameFor(model => model.Subscription)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Subscription.Code)
                </dd>

                <dt class="col-sm-2 text-light">
                    @Html.DisplayNameFor(model => model.AcademicYear)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AcademicYear.Name)
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.StudentId" class="btn btn-danger">
            <i class="bi bi-pencil-square"></i> Edit
        </a>
        <a asp-action="Index" class="btn btn-outline-light ms-2">
            <i class="bi bi-arrow-left-circle"></i> Back to List
        </a>
    </div>
</div>
