@model IdentityText.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentDB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentDB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradeLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradeLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttendancePercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendancePercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentIsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentIsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subscription.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademicYear.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
