@model IdentityText.Models.Teacher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherHireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherHireDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherDB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherDB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherNetAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherNetAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TeacherId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
